In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/predicted_iv_jan24.csv')

In [3]:
df.head()

         date       tau         m        IV
0  2024-01-02  0.027397 -0.510826  0.337169
1  2024-01-02  0.027397 -0.223144  0.223939
2  2024-01-02  0.027397 -0.105361  0.210374
3  2024-01-02  0.027397 -0.051293  0.210528
4  2024-01-02  0.027397 -0.025318  0.212029

In [4]:
grid_tau = [x/365 for x in [10,30,60,91,122,152,182,273,365,547,730]]
grid_m = [np.log(m) for m in [0.6, 0.8, 0.9, 0.95, 0.975, 1, 1.025, 1.05, 1.1, 1.2, 1.3, 1.5, 1.75, 2]]

In [5]:
df.sort_values(by=['date', 'tau', 'm'], inplace=True)
df.reset_index(drop=True, inplace=True)
df.set_index(['date', 'tau', 'm'], inplace=True)
df['Xt'] = np.log(df['IV'])
df['U_mt'] = df.groupby(['tau','m'])['Xt'].diff() # first difference
df.replace(np.nan, 0, inplace=True)

In [7]:
df.tail(100)

                                     IV        Xt      U_mt
date       tau      m
2024-01-31 0.249315  0.559616  0.487005 -0.719480  0.741858
                     0.693147  0.622855 -0.473442  0.767411
           0.334247 -0.510826  0.302736 -1.194894 -0.119269
                    -0.223144  0.192077 -1.649861 -0.104229
                    -0.105361  0.180775 -1.710502 -0.008206
...                                 ...       ...       ...
           2.000000  0.182322  0.261696 -1.340571  0.012368
                     0.262364  0.317863 -1.146134  0.071704
                     0.405465  0.441016 -0.818675  0.156674
                     0.559616  0.606304 -0.500373  0.223012
                     0.693147  0.776836 -0.252526  0.265057

[100 rows x 3 columns]

In [ ]:
features = pd.DataFrame()
dates = sorted(self.df.index.get_level_values('date').unique())
starting_date = dates[0]
for date in dates[1:]: